#editor {
  bottom:0;
  left:50%;
  position: absolute;
  right:0;
  top:0;
  section {
    padding:15px;
    overflow:hidden;

    p.status {
      float: left;
    }

    p.owner {
      float: right;
    }
  }
  header {
    text-align:center;
  }
  form {
    .content {
      bottom:36px;
      left:0;
      overflow-y:auto;
      position:absolute;
      right:0;
      top:36px;

    }
    textarea {
      width:99%;
      height:80px;
    }
    h2 {
      background: -webkit-linear-gradient(top, rgb(240,240,240) 0%, rgb(222,222,222) 80%);;
      border-bottom:1px solid rgb(214,214,214);
      color:rgb(53,53,53);
      font-weight:bold;
      font-size:$label_size;
      height:25px;
      line-height:$label_size*2.2;
      margin-left:1px;
      padding: 6px 12px 2px;
      text-shadow:rgba(255,255,255,0.5) 0 1px 1px;
      text-transform:uppercase;
    }
    p {
      margin-bottom:$base_size;
    }
    ul {
      &.discuss {
        li {
          margin-bottom:5px;
          overflow:hidden;
          padding:10px;
          p {
            float:left;
            width:85%;
          }
          .meta {
            float:right;
            height:100%;
            left:85%;
            margin:-10px -10px -10px 0;
            border-right:1px solid rgb(222,222,222);
            span {
              padding:10px;
              display:block;
            }
          }
        }
      }
    }
  }
}