header, footer {
  background: -webkit-linear-gradient(top, rgb(229,229,229) 0%, rgb(186,186,186) 80%);
  border-bottom:1px solid rgb(79,79,79);
  position:relative;
  height:35px;
  h2 {
    color:rgb(60,60,60);
    font-weight:600;
    left:40px;
    position:absolute;
    text-shadow:rgba(255,255,255,0.5) 0px 1px 1px;
    top:6px;
  }
  ul {
    position:absolute;
    right:10px;
    top:6px;
  }
}

footer {
  border-bottom:none;
  border-top:1px solid rgb(186,186,186);
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}