#list {
  position:absolute;
  top: 0;
  bottom: 0;
  left:140px;
  right:50%;
  border-left:1px solid rgb(44,52,59);
  border-right:1px solid #ccc;
  #stories {
    position:absolute;
    top:36px;
    left:0;
    right:0;
    bottom:0;
    overflow:auto;
  }

  li {
    position:relative;
    &.story {
      border-bottom:1px solid rgb(229,229,229);
      p {
        font-weight:100;
        left:40px;
        position:absolute;
        top:10px;
        width:70%;
      }
      a {
        padding:0.8em 100px 0.7em 40px;
        display:block;
        color:inherit;
        text-decoration:none;
      }
      &:hover {
        background-color:rgb(248,248,248);
      }

      .owner {
        font-weight:bold;
        color: #000;
        padding-left:0.25em;
        text-shadow:none;
      }

      &.bug a {
        background: url(icon-bug.png) no-repeat 14px 10px;
      }

      &.release {
        background-color:#EEE;
        background-image: -webkit-linear-gradient(#f7f7f7, #eee 80%);

        a { background: url(icon-release.png) no-repeat 14px 10px; }
      }

      &.approved {
        background-color: rgb(238,238,238);
        color: rgb(150,150,150);

        &:hover {
          background-color: rgb(235, 235, 235);
        }
        .owner {
          color:inherit;
        }
      }

      &.active, &.active:hover {
        background: -webkit-linear-gradient(top, rgb(74, 171, 239) 0%, rgb(1,136,222) 80%);
        color:#fff;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
      }

      &.active {
        border-bottom:1px solid rgb(5,110,178);
        border-top: 1px solid rgb(25,130,208);
        margin-top: -1px;

        .owner {
          color: inherit;
        }
      }

      form {
        position:absolute;
        right:10px;
        top:8px;
      }

      button {
        font-size:0.9em;
        line-height:20px;
        padding:0 8px;
      }

      button.start, button.restart {
        @include button(rgb(230,230,230));
        color:#666;
        text-shadow: 0px 1px 1px rgba(255,255,255,0.5);
      }

      button.deliver {
        @include button(rgb(240, 145, 20));
      }

      button.accept {
        @include button(rgb(100, 145, 20));
      }

      button.reject {
        @include button(rgb(165, 35, 60));
      }
    }
    &.milestone {

    }


  }
}