<nav id="nav">
  <h2>Browse</h2>
  <ul>
    <li id="all-stories" class="active"><a href="#">All Stories <span class="label"></span></a></li>
    <li id="my-stories"><a href="#">My Stories <span class="label"></span></a></li>
  </ul>
  <h2>By Label</h2>
  <ul>
    <li><a href="#"><span class="icon red"></span>Git</a></li>
    <li><a href="#"><span class="icon blue"></span>Integration</a></li>
    <li><a href="#"><span class="icon green"></span>Testing</a></li>
    <li><a href="#"><span class="icon purple"></span>UI</a></li>
  </ul>
  <h2>By Type</h2>
  <ul class="last">
    <li id="features"><a href="#">Features <span class="label"></span></a></li>
    <li id="bugs"><a href="#">Bugs <span class="label"></span></a></li>
    <li id="chores"><a href="#">Chores <span class="label"></span></a></li>
  </ul>
</nav>
<section id="list">
  <header>
    <ul>
      <li><a href="#/stories/new" class="button" id="new-story">New Story</a></li>
    </ul>
  </header>
  <ul id="stories">
  </ul>
</section>
<article id="editor">
  <header>
  </header>
</article>

<% Dir["#{settings.views}/templates/*.handlebars"].each do |file| %>
<script type="text/html" id="<%= File.basename(file, '.handlebars') %>-template">
<%= File.read(file) %>
</script>
<% end %>

