<nav>
  <h2>Browse</h2>
  <ul>
    <li class="active"><a href="#"><span class="icon blue"></span>All Stories<span class="label indent">342</span></a></li>
    <li><a href="#"><span class="icon green"></span>My Stories<span class="label indent">5</span></a></li>
  </ul>
  <h2>By Label</h2>
  <ul>
    <li><a href="#"><span class="icon red"></span>Git</a></li>
    <li><a href="#"><span class="icon blue"></span>Integration</a></li>
    <li><a href="#"><span class="icon green"></span>Testing</a></li>
    <li><a href="#"><span class="icon purple"></span>UI</a></li>
  </ul>
  <h2>By Type</h2>
  <ul class="last">
    <li><a href="#"><span class="icon blue"></span>Features</a></li>
    <li><a href="#"><span class="icon yellow"></span>Bugs</a></li>
    <li><a href="#"><span class="icon red"></span>Chores</a></li>
  </ul>
</nav>
<section>
  <header>
    <ul>
      <li><a href="#/stories/new" class="label indent" id="new-story">New Story</a></li>
    </ul>
  </header>
  <ul id="stories">
  </ul>
</section>
<article id="preview">
  <header>
    <ul>
      <li><a href="#">FTW</a></li>
    </ul>
  </header>
</article>

<% Dir["#{settings.views}/templates/*.handlebars"].each do |file| %>
<script type="text/html" id="<%= File.basename(file, '.handlebars') %>-template">
<%= File.read(file) %>
</script>
<% end %>

