@mixin button($color) {
  background: $color;
  background: -moz-linear-gradient(top, lighten($color, 5%) 0%, darken($color, 3%) 80%);
  background: -webkit-linear-gradient(top, lighten($color, 5%) 0%, darken($color, 3%) 80%);
}
