@mixin header {
  background: -webkit-linear-gradient(top, rgb(229,229,229) 0%, rgb(186,186,186) 80%);
  border-bottom:1px solid rgb(79,79,79);
  position:relative;
  height:35px;
  h2 {
    color:rgb(60,60,60);
    font-weight:600;
    left:40px;
    position:absolute;
    text-shadow:rgba(255,255,255,0.5) 0px 1px 1px;
    top:6px;
  }
  ul {
    position:absolute;
    right:6px;
    top:9px;
    .button {
      padding:4px 8px;
      text-shadow:rgba(0,0,0,0.5) 0px 1px 1px;
      text-transform:uppercase;
    }
  }
}