<header>

</header>
<form action="/stories/{{id}}" method="PUT">
  <textarea name="description">{{description}}</textarea>
  <p>
    <select name="status">
      {{#statuses}}
        <option value="{{value}}"{{#if selected}} selected="selected"{{/if}}>{{name}}</option>
      {{/statuses}}
    </select>
  </p>
  <p><input type="submit" value="Update"> or <a href="#" class="destroy">Delete</a></p>
</form>