<form action="/stories" id="new_story" method="POST">
  <header>
    <ul><li><button type="submit">Save</button></li></ul>
  </header>
  <div class="content">
    <textarea name="description"></textarea>
  </div>
</form>