<form action="/stories" id="new_story" method="POST">
  <header>
    <div class="segmented">
      <label>
        <input type="radio" name="type" value="feature" checked>
        Feature
      </label>
      <label>
        <input type="radio" name="type" value="bug">
        Bug
      </label>
      <label>
        <input type="radio" name="type" value="milestone">
        Milestone
      </label>
    </div>

    <ul><li><button type="submit">Save</button></li></ul>
  </header>
  <div class="content">
    <h2>Details</h2>
    <section>
      <textarea name="description"></textarea>
    </section>
  </div>
</form>