<li id="task-{{id}}" class="task editable">
  <div class="view-mode">
    {{description}}
    <a href="#" class="state-changer">Edit</a>
  </div>
  <div class="edit-mode">
    <form action="/tasks/{{id}}" method="PUT">
      <input type="text" name="description" value="{{description}}">
      <input type="submit" value="Update"> or <a href="#" class="state-changer">Cancel</a>
      <a href="#" class="destroy">Delete</a>
    </form>
  </div>
</li>
