/* variables */
$base_size: 12px;
$button_size: 11px;
$label_size: 10px;
$golden_ratio_down: 0.618;
$golden_ratio_up: 1.618;

/* basic setup */
body {
  font-family:helvetica, arial, freesans, clean, sans-serif;
  font-size:$base_size;
  line-height:$base_size*$golden_ratio_up;
}
#container {
  bottom:0;
  left:0;
  overflow:hidden;
  position:absolute;
  right:0;
  top:0;
}

@import 'mixins/css3';
@import 'classes/icons';
@import 'classes/labels';
@import 'elements/header';
@import 'elements/nav';
@import 'elements/list';
@import 'elements/editor';
